/** Clear previous styles **/
* {
    margin: 0px;
    padding: 0px;
}

/** Navbar **/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: right;
}

#title {
    float:left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/** Content styling **/
.header {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 3em;
}

.content p {
    font-size: 2em;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 8px;
    min-height: 90vh;
    background-color: white;
}

.content-wrapper {
    padding-left: 24px;
    padding-right: 24px;
}

/* Footer styling */
footer {
    background-color: black;
    height: 140px;
    width: 100%;
}

footer #contact {
    padding-top: 32px;
    padding-left: 32px;
    font-size: 1.5em;
    float:left;
    color: white;
    font-weight: 700;
}

/** Card styling */
.card {
    margin-top: 16px;
    width: 33%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}

.card img {
    width: 100%;
}
.card h4 {
    font-size: 3em;
}
.card p {
    font-size: 2em;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
  
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}